/*Header - Dimitri Sarrazin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration:none ;
}

.header-nn , li , ul ,a {
    list-style: none;
    color: white;
}

.header-nn a {
    color: #0e1014;
    font-size: 48px;
}
.header-nav ul  li  a {
    text-align: center;
    color: #0e1014;
    font-size: 24px;
}
.header-nav ul  li  a:hover{
    color: white;
}
.header-nav ul  li:hover{
    background-color: #2F469A;
    border-radius: 7%
}
.header-nav nav {
    align-items: center;
    display: flex;
}
#container_header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.header-nav , ul {
    display: flex;
}
.header-nav , li {
    padding-right: 10px;
    padding-left: 10px;
}

/*Container-Header*/
.box-header {
    display: flex;
    justify-content: center;
}
.box-header img {
    position: relative;
    width : 100%;
}
.box-header h1 {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 64px;
    text-align: center;
}
#cta {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 80%;
    width: 50%;
}
.cta-header-ins {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0055DC;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    height: 45px;
}
.cta-header-con {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #000000;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    height: 45px;
}
.cta-header-con a {
    color: white;

}
.cta-header-ins a {
    color: white;
}
.cta-fleche {
    position: absolute;
    top: 92%;
}
/*Container-a-pro*/
.container-pro {
    display: flex;
    justify-content: center;
    padding: 10rem;
}
.item-pro-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 30%;
    text-align: center;
}
.item-pro-1{
    display: flex;
    justify-content: center;
    padding: 4rem;
    font-size: larger;
}
/*Service*/
#service {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.container-service {
    display: flex;
    flex-direction: column;
}
.item-service-0  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
}

.item-service-1  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
}
.item-service-1 h2{
    display: flex;
    justify-content: flex-end;
}

/*footer*/
#footer{
    background-color: #2F469A;
}
/*Attention a ton footer , p , a il me fais bug sur ma partir si tu peux regarder comment modifier le truc merci ;) */

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: larger;
    padding-top: 5rem;
}
#footer a:hover{
    text-decoration: underline;
}
.logo a{
    font-size: 2rem;
    color: white;
}
.logo i:hover{
    box-shadow: 1px 2px 10px  4px white;
    background-color: white;
    border-radius: 7%;
    color: #2F469A ;
    font-size: 2rem;
}
.logo ul{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;

}























































































/*Connexion - Thibault Coge*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

#connexion h1 {
    font-weight: bold;
    margin: 0;
}

#connexion p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

#connexion span {
    font-size: 12px;
}
#connexion .mdp_oublié{
    padding: 1rem;
}

#connexion .mdp_oublié a {
    color: #df1c1c;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;


}
#connexion .mdp_oublié a:hover{
    text-decoration: underline;

}
#connexion button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: #2F469A;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

#connexion button:active {
    transform: scale(0.95);
}

#connexion button:focus {
    outline: none;
}

#connexion button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

#connexion form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

#connexion input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

#connexion .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px #2F469A,
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

#connexion .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#connexion .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

#connexion .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

#connexion .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
#connexion .sign-up-container:hover{
    background-color: white;


}

#connexion .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

#connexion @keyframes show {
               0%, 49.99% {
                   opacity: 0;
                   z-index: 1;
               }

               50%, 100% {
                   opacity: 1;
                   z-index: 5;
               }
           }

#connexion .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

#connexion .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

#connexion .overlay {
    background: #2F469A;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#connexion .container.right-panel-active .overlay {
    transform: translateX(50%);
}

#connexion .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#connexion .overlay-left {
    transform: translateX(-20%);
}

#connexion .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

#connexion .overlay-right {
    right: 0;
    transform: translateX(0);
}

#connexion .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

#connexion .social-container {
    margin: 20px 0;
}




















































































































































































































































































































#inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

#inscription h1 {
    font-weight: bold;

}
#inscription .text_connect{
    /*
    background-color: #2e59d9 ;
    */
}
#inscription .connect_wrap{
    height: 100%;
    background-color: #2F469A;
}
#inscription .text_connect p{
    color: white;
    display: flex;
    justify-content: left;
    margin-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    /*padding-top: 5rem;*/
}

#inscription .text_connect h2{
    color: white;
    display: flex;
    justify-content: left;
    margin-left: 4.5rem;
    padding-top: 5rem;
}
#inscription .text_connect button{
    margin-left: 6.5rem;
}
#inscription .text_connect button:hover{
    background-color:white ;
    border-color: black;

}
#inscription .text_connect button a:hover{
    color: #2F469A ;

}

#inscription p {
    font-size: 14px;
    font-weight: 100;
    line-height: 3rem;
    letter-spacing: 0.5px;
    /*margin: 20px 0 30px;*/
}

#inscription span {
    font-size: 12px;
}

button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: #2F469A;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
#inscription  form button{
    border-radius: 20px;
    border: 1px solid #2F469A;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 1.5rem;
}
#inscription  form button a {
    color : #2F469A;
}

#inscription button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

#inscription form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
#inscription form input{
   background-color: #e8f0fe;
    border: none;
}
.separator_form{
    width: 8rem;
    height: 2px;
    background-color: #2F469A;
    border-radius: 7%;
}
#inscription .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px #2F469A,
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

#inscription .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}





#inscription .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
#inscription .sign-up-container:hover{
    background-color: white;


}

#inscription .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

#inscription @keyframes show {
                 0%, 49.99% {
                     opacity: 0;
                     z-index: 1;
                 }

                 50%, 100% {
                     opacity: 1;
                     z-index: 5;
                 }
             }

#inscription .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;

}

#inscription .overlay {
    color: black;
    position: relative;
    height: 100%;
    width: 200%;
}
#inscription .formulaire_insc{
    width: 50%;

    background-size: cover;

}
#inscription .formulaire_insc input{
    padding: 1rem;
    margin-top: 0.5rem;

}

/*Contact - Thibault Coge*/
#contact {
    padding: 3rem 0;
}
#contact form {
    background-color: #2F469A;
}
#contact form p {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}
#contact form .separator_contact{
    background-color:white ;
    width: 20%;
    height: 1px;
    margin-left: 40%;
    margin-bottom: 2rem;
}
#contact form input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    margin: 0 auto;
}

#contact form button {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: #2F469A;
}
#contact form button:hover {
    background-color: #2D2D83;
    color: white;
}
#contact form #prenom {
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 20px 3px #000000;
    box-shadow: 0px 0px 20px 3px #000000;
}
#contact form #email {
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 20px 3px #000000;
    box-shadow: 0px 0px 20px 3px #000000;
}
#contact form #message {
    resize: none;
    height: 5rem;
    width: 20%;
    -webkit-box-shadow: 0px 0px 20px 3px #000000;
    box-shadow: 0px 0px 20px 3px #000000;
    margin-left: 40%;
}
#contact .contact_input {
    display: flex;
    flex-flow: column ;

}
#contact button {
    display: block;
}
#contact .contact_button {
    padding: 2rem;
}
